* {
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
}

header {
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#F7595B;
    height:55px;
    gap:10px;
}

header > img {
    width:24px;
}

header > h3 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter;
}
